@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@500&family=Poppins&display=swap');

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    list-style: none;
}

li.drag-sort-active {
    background: transparent;
    color: transparent;
    border: 1px solid #4ca1af;
}

span.drag-sort-active {
    background: transparent;
    color: transparent;
}